<!DOCTYPE html>
<html>
	{% load staticfiles %}
  <head>
    <meta charset='utf-8'>
    <title>ISS plots</title>
    <link rel="stylesheet" type="text/css" href="{% static "ISSplots/styles.css" %}"/>
    <script src="{% static "ISSplots/d3.min.js" %}"></script>
  </head>
  <body>
	<div id="thelist">
		<select id="variable-list">
			<option value=2>Inclination</option>
			<option value=3>Right Ascension of the Ascending Node</option>
			<option value=4>Eccentricity</option>
			<option value=5>Argument of Perigee</option>
			<option value=6>Mean Anomaly</option>
			<option value=7>Mean Motion</option>
			<option value=8>Latitude</option>
			<option value=9>Longitude</option>
			<option value=10>Altitude</option>
			<option value=11>Velocity</option>
		</select>
	</div>
	<div id='chart-container'></div>
    <script>
		var plotDataIndex = 0;

		var alertChange = function() {
			var selectedValue = d3.event.target.value;
			var selectedIndex = d3.event.target.selectedIndex;

			plotDataIndex = selectedIndex;
		}

		d3.select('#variable-list').on('change', alertChange);
		var n = 100;
		var data = [
			{name:'inclination (deg)', values:d3.range(0)},
			{name:'RAAN (deg)', values:d3.range(0)},
			{name:'eccentricity', values:d3.range(0)},
			{name:'arg_perigee (deg)', values:d3.range(0)},
			{name:'mean_anomaly (deg)', values:d3.range(0)},
			{name:'mean_motion (rev. per day)', values:d3.range(0)},
			{name:'latitude (deg)', values:d3.range(0)},
			{name:'longitude (deg)', values:d3.range(0)},
			{name:'altitude (km)', values:d3.range(0)},
			{name:'velocity (m/s)', values:d3.range(0)},
		]
		var time = d3.range(0);
		var margin = {top: 10, right: 20, bottom: 30, left: 500},
    		width = 1500 - margin.left - margin.right,
		    height = 600 - margin.top - margin.bottom;

		var x = d3.scale.linear()
			.domain([0, n - 1])
			.range([0, width]);
		var y = d3.scale.linear()
			.domain([-90, 90])
			.range([height, 0]);

		var xAxis = d3.svg.axis().scale(x).orient('bottom').ticks(10);
		var yAxis = d3.svg.axis().scale(y).orient('right').ticks(10);

		var valueLine = d3.svg.line()
			.x(function(d, i) {return x(i);})
			.y(function(d, i) {return y(d);});

		var svg = d3.select('#chart-container')
			.append('svg')
				.attr('width', width + margin.left + margin.right)
				.attr('height', height + margin.top + margin.bottom)
				.style('margin-left', -margin.left + 'px')
			.append('g')
				.attr('transform',
					'translate(' + margin.left + ',' + margin.top + ')');

		svg.append("defs").append("clipPath")
				.attr("id", "clip")
			.append("rect")
				.attr("width", width)
				.attr("height", height);


		function initialiseData(data) {
			var jsonData;
			d3.json('api/getISSData', function(error, json) {
				if (error) return console.warn(error);
				jsonData = json;
				
				data[0].values.push(jsonData.inc);
				data[1].values.push(jsonData.raan);
				data[2].values.push(jsonData.ecc);
				data[3].values.push(jsonData.aper);
				data[4].values.push(jsonData.ma);
				data[5].values.push(jsonData.mm);
				data[6].values.push(jsonData.lat);
				data[7].values.push(jsonData.lon);
				data[8].values.push(jsonData.alt);
				data[9].values.push(jsonData.vel);

				dateLocal = new Date();
				time.push(dateLocal);

				svg.append('path')
					.attr('class', 'line')
					.attr('d', valueLine(data[plotDataIndex].values));

				svg.append('text')
					.attr('class', 'y label')
					.attr("text-anchor", "end")
				    .attr("x", -10)
				    .attr("y", height / 2.0)
				    .text(data[plotDataIndex].name);

/*				svg.append('g')
					.attr('class', 'x axis')
					.call(xAxis);*/

				svg.append('g')
					.attr('class', 'y axis')
					.call(yAxis);
			});
		}

		initialiseData(data);


		function updateData(data) {
	        var jsonData;
    	    d3.json('api/getISSData', function(error, json) {
    	        if (error) return console.warn(error);
    	        jsonData = json;

				data[0].values.push(jsonData.inc);
				data[1].values.push(jsonData.raan);
				data[2].values.push(jsonData.ecc);
				data[3].values.push(jsonData.aper);
				data[4].values.push(jsonData.ma);
				data[5].values.push(jsonData.mm);
				data[6].values.push(jsonData.lat);
				data[7].values.push(jsonData.lon);
				data[8].values.push(jsonData.alt);
				data[9].values.push(jsonData.vel);

				dateLocal = new Date();
				time.push(dateLocal);

				y.domain([d3.min(data[plotDataIndex].values),
					d3.max(data[plotDataIndex].values)]);
				// Set limits for constant data as value +- 1% 
				if (d3.min(data[plotDataIndex].values) == d3.max(data[plotDataIndex].values)) {
					epsY = Math.abs(0.01 * d3.min(data[plotDataIndex].values));
					y.domain([d3.min(data[plotDataIndex].values) - epsY,
						d3.min(data[plotDataIndex].values) + epsY]);
				}
				var svg = d3.select('#chart-container');
					svg.append("defs").append("clipPath")
							.attr("id", "clip")
						.append("rect")
							.attr("width", width)
							.attr("height", height);

				if (data[plotDataIndex].values.length > n - 1) {
					for (ii = 0; ii < 10; ii++) {
						data[ii].values.shift();
					}
					var path = svg.select('path');
					path.attr('d', valueLine(data[plotDataIndex].values))
						.attr('transform', null)
						.transition()
							.duration(1500)
							.attr('transform', 'translate(' + x(-1) + ')');


					time.shift();
				} else {
					svg.select('.line')
						.attr('d', valueLine(data[plotDataIndex].values))
						.attr('transform', null);
				}
				svg.select('text')
					.attr('class', 'y label')
					.attr("text-anchor", "end")
				    .attr("x", -10)
				    .attr("y", height / 2.0)
				    .text(data[plotDataIndex].name);
			
				svg.select('.y.axis')
					.transition()
					.duration(0)
					.call(yAxis);
			});
		}

		setInterval(function() {
			updateData(data);
		}, 2000);
					
		
		
    </script>
    </body>
</html>
