<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>D3 World Map</title>
    <style>
        .x.axis line {
            shape-rendering: auto;
        }
        .y.axis line {
            shape-rendering: auto;
        }

        .line {
            fill: none;
            stroke: #000;
            stroke-width: 1.5px;
        }
    </style>
    <script src='http://d3js.org/d3.v3.min.js'></script>
    <script>
        var n = 10;

        function chart(domain, interpolation, tick) {
            var data = d3.range(0);

            var margin = {top: 30, right: 20, bottom: 30, left: 40},
                width = 960 - margin.right,
                height = 600 - margin.top - margin.bottom;

            var x = d3.scale.linear()
                .domain(domain)
                .range([0, width]);

            var y = d3.scale.linear()
                .domain([-100, 100])
                .range([height, 0]);

            var line = d3.svg.line()
                .interpolate(interpolation)
                .x(function(d, i) { return x(i); })
                .y(function(d, i) { return y(d); });

            var svg = d3.select('body').append('p').append('svg')
                .attr('width', width + margin.left + margin.right)
                .attr('height', height + margin.top + margin.bottom)
                .style('margin-left', -margin.left + 'px')
                .append('g')
                .attr('transform', 'translate(' + margin.left + ',' + margin.top + ')');

            svg.append('defs').append('clipPath')
                .attr('id', 'clip')
                .append('rect')
                .attr('width', width)
                .attr('height', height);
    
            svg.append('g')
                .attr('class', 'y axis')
                .call(d3.svg.axis().scale(y).ticks(5).orient('right'));

            var path = svg.append('g')
                .attr('clip-path', 'url(#clip)')
                .append('path')
                .datum(data)
                .attr('class', 'line')
                .attr('d', line);

            tick(path, line, data, x);
        }
    </script>
  </head>
  <body>
    <script>
    (function() {
        var transition = d3.select({}).transition()
        .duration(10000)
        .ease('linear');

        chart([0, n - 1], 'linear', function tick(path, line, data, x) {
            transition = transition.each(function() {
				var yMin = d3.min(data);
				var ySize = d3.max(data) - yMin;
                var jsonNew;
                d3.json('api/getISSData', function(error, json) {
                    if (error) return console.warn(error);
                    jsonNew = json;
                    console.log(jsonNew);
					console.log(parseFloat(jsonNew.latitude));

                // push a new data point onto the back
	                data.push(parseFloat(jsonNew.latitude));
                    console.log(data);
                
					var margin = {top: 30, right: 20, bottom: 30, left: 40},
						width = 960 - margin.right,
						height = 600 - margin.top - margin.bottom;
					var yNew = d3.scale.linear()
						.domain([d3.min(data), d3.max(data)])
						.range([height, 0]);
					var yMinNew = d3.min(data);
					var ySizeNew = d3.max(data) - yMinNew;
					var scaleValue = ySize / ySizeNew;
					var yDiff = yMin - yMinNew;
					var yAxis = d3.svg.axis()
						.scale(yNew).ticks(5).orient('right');
					var svg = d3.select('body');
						svg.select('.y.axis').call(yAxis);

	                if (data.length > n - 1){ 
                    // redraw the line, and then slide it to the left
	                    path
	                        .attr('d', line)
	                        .attr('transform', 'translate(0, ' + '-0.5' + ')')
	                        .attr('transform', 'scale(1, ' + '1' + ')')
	                        .attr('transform', 'translate(' + x(-1) + ', 0)')
	                        .transition();

                    // pop the old data point off the front       
	                    data.shift();
	                } else {
	                    path
	                        .attr('d', line)
	                        .transition()
	                        .attr('transform', 'translate(0, ' + '-0.5' + ')')
	                        .transition()
	                        .attr('transform', 'scale(1, ' + '1' + ')');
	                }

            	});
			})
            .transition().each('start', function() { tick(path, line, data, x); });
        });
    })();
    </script>
    </body>
</html>
