<html>
  <head>
    <title>3DISS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <style>
      body {
      background-color: #000000;
      margin: 0px;
      overflow: hidden;
      }

      a {
      color:#0078ff;
      }
    </style>
  </head>
  <body>
  	{% load staticfiles %}
    <script src="{% static "ISS3D/three.min.js" %}"></script>
    <script src="{% static "ISS3D/OrbitControls.js" %}"></script>
    <script src="{% static "ISS3D/simulation.js" %}"></script>
  </body>
</html>
