<!DOCTYPE html>
<html>
<head>
<meta charset=utf-8 />
<title>ISS trace</title>
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.3/mapbox.css' rel='stylesheet' />

<script src='https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-geodesy/v0.1.0/leaflet-geodesy.js'></script>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

<style>
  body { margin:0; padding:0; }
  #map { position:absolute; top:0; bottom:0; width:100%; }
  
  .ISS-dot {
  background:#00B800;
  border:1px solid rgba(255,255,255,0.5);
  color:#fff;
  font-weight:bold;
  text-align:center;
  border-radius:50%;
  line-height:30px;
  }

</style>
</head>
<body>
<div id='map'></div>
<script>
var map = L.mapbox.map('map', 'examples.map-8ly8i7pv').setView([55.858, -4.259], 2); //examples.map-8ly8i7

var ISSLayer = L.mapbox.featureLayer().addTo(map);

ISSLayer.on('layeradd', function(e) {
	var marker = e.layer,
		feature = marker.feature;
		
	var icon = {
      "iconSize": [12,12],
      // "iconAnchor": [10,10],
      // "popupAnchor": [0, -10],
      //"html": feature.geometry.coordinates,
      "className": "ISS-dot"
  };

    marker.setIcon(L.divIcon(icon));

});

if (!navigator.geolocation) { alert('Get a better browser'); }

navigator.geolocation.getCurrentPosition(function(position) {
	geojson={"type": "Feature", "id": null, "properties": {}, "geometry": {"type": "Point", "coordinates": [position.coords.longitude, position.coords.latitude]}}
	
	L.geoJson(geojson).addTo(map);
	
	var desyCircle = LGeo.circle([position.coords.latitude, position.coords.longitude], 2000000, {
	parts: 60,
	color: '#f00',
	fillOpacity: 0
}).addTo(map);
	
})

var polyline = L.polyline([]).addTo(map)

addPos();

setInterval(addPos, 10000 * 2);

t=0
function addPos() {
	$.getJSON('api/getPos',callbackfun);
	
	function callbackfun(data){
		console.log(data);
		
		polyline.addLatLng(
		L.latLng(
		data.geometry.coordinates[1],
		data.geometry.coordinates[0]));
		ISSLayer.setGeoJSON(data);
		
		var messg = '<h2>Position<\/h2>' +
		'<p>Lat: ' + data.geometry.coordinates[1] + '<br \/>' +
		'Lon: ' + data.geometry.coordinates[0] + '<\/p>';
		ISSLayer.bindPopup(messg);
	}

////	// Pan the map along with where the line is being added.
////	map.setView([0, pointsAdded], 3);
}

</script>
</body>
</html>
